:root{
    --project-bgcolor: #000000;
    --project-txtcolor: #ffffff;
    --project-fntfamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --project-fntsize: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--project-fntfamily);
}

.section1{
    background-color: var(--project-bgcolor);
    height: 350px;
    font-family: var(--project-fntfamily);
    color: var(--project-txtcolor);
    font-size: var(--project-fntsize);
}

.container{
    margin: 0 20%;
}

header{
    display: flex;
    width: 100%;
    margin: 0 0 10px 0;
    background-color: var(--project-bgcolor);
}

header a{
    width: 15%;
    padding: 15px 0 0 0;
}

nav{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 70%;
}
.register{
    width: 15%;
    justify-content: flex-end;
    /* padding: 2px; */
}
.reg_button{
    border-style: none;
    border-radius: 16px;
    width: 100%;
    padding: 10px;
    background-color: #292929;
    color: #fff;
}
.top{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    background: white;
    padding: 5% 5% 5% 10%;
    margin: auto;
}
.right{
    width: 50%;
    padding-left: 5%;
}

.left{
    width: 50%;
    color: black;
    padding: 20px 30px 0 0;
    white-space: pre-line;
    background-image: url(images/UI_UX.png);
    background-position-y: 60px;
    background-repeat: no-repeat;
    background-size: 80%;
    line-height: 30px;
    }
.left h1{
    white-space: nowrap;
}
.left h2{
    opacity: 0.3;
    font-weight: 300;
    word-spacing: 0.5em;
}
.left p{
    justify-content: space-evenly;
}
.register_but{
    border-style: none;
    border-radius: 13px;
    width: 50%;
    padding: 10px;
    background-color: #EC6533;
    color: #fff;
}
.section2{
    padding-top: 20%;
    background-color: #FAFAFA;
    height: 1080px;
    font-family: var(--project-fntfamily);
    color: #000;
    font-size: var(--project-fntsize);
}
.white_background{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    border-radius: 30px;
    background-color: #ffffff;
    margin-bottom: 10%;
    padding: 0% 5% 5% 10%;
}
.capitals{
    display: flex;
    width: 100%;
    padding: 5% 0% 5% 0%;
}
.product_factory{
    width: 50%;
    margin-top: -20%;
}
.about{
    width: 45%;
    position: relative;
}
.about p{
    width: 55%;
    font-size: 600%;
    color: #f2f2f2;
    font-weight: bolder;
    float: right;
    margin-top: 8%;
    margin-right: 30%;
}
.about-div{
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 38%;
}
.social{
    margin: 0% 5% 0% 5%;
    width: 5%;
    float: right;
}
.sometext{
    margin: -2% 10% 0% 0%;
    /* white-space: pre-line; */
    line-height: 30px;
    word-spacing: 1px;
}
.experience{
    width: 100%;
    font-family: var(--project-fntfamily);
    position: relative;
    margin-bottom: 5%;
}
.experience p{
    font-size: 600%;
    color: #f2f2f2;
    font-weight: bolder;
}
.exp_bar{
    margin: 5% 0% 5% 10%;
}
.exp_detail{
    display: flex;
}
.exp_detail img{
    width: 25%;
    padding: 0% 0% 3% 3%;
}
.section3{
    padding-top: 20%;
    background-color: #FFFFFF;
    height: 2900px;
    font-family: var(--project-fntfamily);
    color: #000;
    font-size: var(--project-fntsize);
}
.wall{
    margin-bottom: 10%;
    padding: 4%;
}
.wall center{
    margin: 50px;
}
.headers{
    border-left: 5px solid #000000;
    padding-left: 10px;
}
.contents{
    border-left: 1px solid #F0F0F0;
    padding: 10px;
    line-height: 200%;
    padding-bottom: 2%;
}
.inner{
    display: flex;
    border-radius: 5px;
}
.headers .inner{
    background-color: #f8f8f8;

}
.speaker{
    margin: 5px;
    width: 30%;
}
.details{
    margin: 5px;
    width: 70%;
}
.image2{
    margin-left: 15px;
}
.section4{
    padding-top: 20%;
    height: 2000px;
    background-color: #FAFAFA;
}
.faq_slides{
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 2%;   
    display: flex;
    margin: 3%;
}
.question{
    width: 90%;
}
.course_fee{
    display: flex;
    border-bottom: 2px solid #FBFBFB;
    padding-bottom: 4%;
}
.left_fee{
    width: 60%;
}
.course_fee li{
    list-style-position: inside;
    list-style-image: url(images/bullet_check_green.png);
    margin: 4%;
}
.course_fee p{
    font-weight: bolder;
}
.pay{
    background-color: #000;
    width: 40%;
    border-radius: 15px;
    color: #fff;
    line-height: 200%;
    padding: 2%;
    margin-top: -2%;
}
.refund{
    color: #CECECE;
}
.pay button{
    margin-top: 4%;
}


  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  /* * {
    box-sizing: border-box;
  } */
  
  .responsive {
    padding: 0 15px;
    float: left;
    width: 20%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }